<li class="my-3">
    <div class="card">
        <img src="https://images.pexels.com/photos/17528771/pexels-photo-17528771.jpeg" class="card-img-top"
            alt="book-img" style="height: 16rem;">
        <div class="card-body">
            <h5 class="card-title">Harry Potter and the philosopher's stone</h5>
            <p class="card-text bg-success text-white py-1">Read</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, enim.</p>
            <div>
                <p>Rating</p>
            </div>
            <div>
                <a href="/book" class="btn btn-primary">View</a>
                <a href="/edit-book" class="btn btn-success">Edit</a>
                <a href="/delete-book" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</li>

@code {

}