@page "/book"

<PageTitle>Book</PageTitle>

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://images.pexels.com/photos/17528771/pexels-photo-17528771.jpeg"
                class="img-fluid rounded-start" alt="book picture">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Harry Potter and the philosopher's stone</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>


@code {

}