@page "/"

<PageTitle>Home</PageTitle>

<h3>My Booklist</h3>

<ul class="list-unstyled row row-cols-3">
    <BookCard />
    <BookCard />
    <BookCard />
    <BookCard />
</ul>

<div class="mb-4 text-center">
    <a href="/list" class="btn btn-primary fs-5">View More</a>
</div>

<h3>Recommended Books</h3>

<ul class="list-unstyled row row-cols-3">
    <BookCard />
    <BookCard />
    <BookCard />
    <BookCard />
    <BookCard />
    <BookCard />
</ul>




@code {


}